* {
    left: 0;
    right: 0;
    top: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: linear-gradient(#76278f, #2B1E66);
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
}

.flex-container {
    display: flex;
}

#nav {
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    width: 100%;
    height: 80px;
    z-index: 1;
}

#logo {
    height: 50px;
    margin-right: auto;
    padding-left: 100px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    padding-right: 20px;
}

a:hover {
    color: #fa00e7;
}

.btn {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 11px 30px;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

#btnTwo {
    color: #fa00e7;
    border: 2px solid whitesmoke;
    background: white;
    padding: 11px 30px;
    margin-right: 50px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

.hidden {
    visibility: hidden;
}


/*Seccion info foto celular*/

.infoUno {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 120px;
}

.text {
    color: whitesmoke;
    padding-left: 40px;
}

#phone {
    height: 80%;
}


/*Seccion videos*/

.video {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

#video {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    color: #000000;
    background-color: white;
}

.sect1,
.sect2,
.sect3 {
    display: flex;
    flex-direction: row;
    width: 100%
}

.info {
    flex-direction: column;
    padding: 40px;
    width: 100%
}

p {
    font-size: 0.8em;
    font-weight: 300;
}


/*Footer*/

#footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
}

.wrap {
    display: flex;
    flex-direction: row;
}

.foot1,
.foot2,
.foot3 {
    display: flex;
    font-size: 0.8em;
    color: whitesmoke;
    text-decoration: none;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.apps {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    align-items: flex-end;
    justify-content: space-around;
}

.pie {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40px;
}

.raya {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 200px;
    background-color: whitesmoke;
}