* {
    left: 0;
    right: 0;
    top: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: #2B1E66;
    background-color: linear-gradient(#76278f, #2B1E66);
    text-decoration: none;
}

.flex-container {
    display: flex;
}

#nav {
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    width: 100%;
    height: 100px;
    z-index: 1;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: auto;
    padding-left: 100px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    padding-right: 20px;
}

.btnOne {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 11px 30px;
    margin-right: 200px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

.btnTwo {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background: white;
    padding: 11px 30px;
    margin-right: 50px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

.hidden {
    visibility: hidden;
}

.infoUno {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 120px;
}

.text {
    color: whitesmoke;
    padding-left: 40px;
}

#phone {
    height: 80%;
}

.video {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
}

#videos {
    flex-direction: row;
    width: 100%;
    position: relative;
    color: #000000;
    background-color: white;
}

.sect1,
.sect2,
.sect3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    flex-direction: column;
    padding: 40px;
}

p {
    font-size: 0.8em;
    font-weight: 300;
}

.wrap {
    display: flex;
    flex-direction: row;
}

.foot1,
.foot2,
.foot3 {
    display: flex;
    font-size: 0.8em;
    color: whitesmoke;
    text-decoration: none;
    flex-direction: column;
}

.apps {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    width: 160px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}